html,
body {
  margin: 0;
  padding: 0;
  background-color:#eeeeee;
	color:#212121;
}
#ccc {
  background-image: url("./assets/img/ball_texture.jpg");
}
.dn {
  display: none;
}
.df {
  display: flex;
}
.fdc {
  flex-direction: column;
}
.fww {
  flex-wrap: wrap;
}

.img_size {
  width: 200px;
}

.w100 {
  width: 100%;
}

.jcc {
  justify-content: center;
}

.tac {
  text-align: center;
}